# Node
node_modules/

# Next.js
.next/
out/
.vercel/
.data/

# Firebase local artifacts
.firebase/

# Env
.env*
!.env.example

# Build outputs
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.DS_Store
